@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
/*Oldal anímáció és kinézet*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  z-index: -100;
}
body {
  background-color: #af9b84;
}

.content {
  display: none;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #2c364f;
  z-index: -200;
}
article {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
}
.hero {
  height: 60%;
  width: 100%;
  position: relative;
}
.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*Scroll animációk beállitások*/
.scrollAnimacio div {
  height: auto;
  background-size: 200% 200%;
  background-image: linear-gradient(to right, #15b374 50%, transparent 50%);
  background-position: right;
  transition: 2000ms;
}
.scrollAnimacio div div {
  width: 50%;
  /*https://stackoverflow.com/questions/20751937/transition-background-color-via-slide-animation#comment31098517_20751998*/
  transition: 900ms;
  opacity: 0;
  color: #2c364f;
}
.scrollAnimacio div div h1 {
  text-align: center;
}
.scrollAnimacio div div p {
  text-align: left;
}

@media screen and (max-width: 770px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
  }
  article {
    display: flex;
    height: 95vh;
    position: relative;
    left: 50%/2;
    top: 25%;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .hero {
    position: absolute;
    width: 100%;
    top: 30%;
  }
  .hero img {
    display: none;
  }
  .hero iframe {
    width: 550px;
    height: 400px;
    margin: auto;
  }
}
@media screen and (max-width: 580px) {
  .hero iframe {
    width: 400px;
    height: 250px;
    margin: auto;
  }
}
