@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
/*Itt lesznek a főstilusok*/
/*
MUSZÁJ BEIMPORTÁLNI HOGY MÜKÖDJÖN A NAV BÁR!
Az anímációk hogy működjenek ezt kell beimportálni  a body legaljára behelyezni ilyen sorrendbe:
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="ati/fooldal.js"></script>
*/

/*Nav bár*/

/* Scrollbar ne látszódjon */

::-webkit-scrollbar {
  width: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body,
html {
  overflow-x: hidden;
}

.navbar {
  background-color: #15b374;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar h1 {
  color: white;
}
.navbar ion-icon {
  color: rgba(0, 128, 0, 0.836);
}
.navicon {
  display: none;
  cursor: pointer;
}
.navicon div {
  width: 25px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  transition: 500ms;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}
.container li {
  list-style-type: none;
}
.container a {
  position: relative;
  text-decoration: none;
  color: #2c364f;
  transition: 500ms;
  font-weight: bold;
}
.container a:after {
  content: "";
  position: absolute;
  background-color: #2c364f;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}
.container a:hover:after {
  transition: 500ms;
  width: 100%;
  text-decoration: none;
}
.container a:hover {
  font-size: 18px;
  color: #2c364f;
  transition: 500ms;
}
/*Footer*/
.footer {
  background-color: #15b374;
  color: white;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  bottom: 0;
}

.keszitok {
  font-size: 13px;
}
.nevek {
  text-align: right;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.logok {
  align-items: center;
}
.logok img {
  width: 4vh;
}
.logok a {
  height: 40px;
  width: 40px;
}
.facebook {
  color: #3b5998;
  font-size: 4vh;
}
.instangram {
  background-image: linear-gradient(
    200deg,
    rgb(81, 91, 212),
    rgb(129, 52, 175),
    rgb(221, 42, 123),
    rgb(254, 218, 119),
    rgb(245, 133, 41)
  );
  font-size: 4vh;
  border-radius: 13px;
  color: white;
}

/*tesztek*/

input[type="radio"],
input[type="checkbox"] {
  margin-right: 15px;
  padding: 0%;
}

.dl_tesztdoboz div {
  font-weight: bold;
}
.dl_tesztdoboz {
  max-width: 400px;
}

.dl_tesztnev {
  transition: transform 250ms;
}

#teszt_article * {
  padding-top: 30px;
}
#teszt_article .dl_tesztnev:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/*felugró*/
.doboz {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.felugro_doboz {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.bezar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.bezar:hover,
.bezar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dl_tesztdoboz {
  margin-bottom: 10px;
  /* background-color: rgba(64, 232, 64, 0.621); */
  border: none;
  border-radius: 5px;
  display: none;
}

/*tesztek*/

/*Norbus*/

.animacio {
  transition: transform 250ms;
}

.animacio:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

#egycikk * {
  padding: 10px;
}

/*Norbus*/

/*Reszponzvitás*/
@media screen and (max-width: 770px) {
  /*Nav bár reszponzivitás*/
  .container {
    background-color: #a88952; /*Háttér színévelk egyezzen meg*/
    position: absolute;
    right: 0;
    height: 90.5vh;
    top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: translateX(100%);
    transition: 500ms ease-in;
    z-index: 100;
  }
  .container li {
    opacity: 0;
    cursor: pointer;
    z-index: 100;
  }
  .navicon {
    display: block;
  }
  /*Footer reszponzivitás*/
  .footer {
    display: flex;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    transition: 1200ms;
  }
  .keszitok {
    padding: 0px;
  }
  .nevek {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .logok {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
/*Nav bár csíkok anímáció*/
.nav-active {
  transform: translateX(0%);
  background-color: #15b374; /*A nav bár színvel egyezzen emg*/
}

@keyframes containerFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: 500ms;
}
.toggle .line2 {
  opacity: 0;
  transition: 500ms;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: 500ms;
}
