@charset "UTF-8";
* {
  box-sizing: border-box;
}
.carousel-item img {
  width: 100%;
  
}

#bemutat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

#leiras{
    padding: 10px;
}

.alapKiskepek{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ketKisKep{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#kisLeptetoCont{
  margin: 10px;
  border: 1px solid rgb(121, 121, 121);
}
#kisKepek img{
  width: 100%;
  padding: 10px;
  height: 100%;
}

#nagyKep{
  overflow: hidden;
  width: 50vw;
  height: 70vw;
}

