@charset "UTF-8";

#nagyRuhaBemutato{
    display: flex;
    flex-direction: row;
}

#nagyKepFelulet{
    flex: 0 0 66%;
}


#leiras{
    flex: 0 0 33%;
}

button {
    border: 1px solid black;
    flex: 0 0 2%;
    height: 35px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    opacity: 0.8;
}
#nagyKepBelso{
    display: flex;
    align-items: center;
}

#nagykep{
    flex: 0 0 90%;
}
button:hover{
    background-color: rgb(168, 168, 168);
}

button:active{
    background-color: rgb(58, 58, 58);
}

#kiskepek{
    display: flex;
}

#kiskepek img{
    flex-wrap: wrap;
    flex-basis: 33%;
}