@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");


body {
    margin :auto;

}

/*Navig�ci�s b�r*/
.navbar {
    background-color: black;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .navbar h1 {
        color: white;
    }

    .navbar ion-icon {
        color: green;
    }

.navicon {
    display: none;
    cursor: pointer;
}

    .navicon div {
        width: 25px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        margin: 5px;
        transition: 500ms;
    }

.tarolo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
}

    .tarolo li {
        list-style-type: none;
    }

    .tarolo a {
        position: relative;
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: 500ms;
    }

        .tarolo a:after {
            content: "";
            position: absolute;
            background-color: #ffffff;
            height: 3px;
            width: 0%;
            left: 0;
            bottom: -7px;
            transition: 0.3s;
        }

        .tarolo a:hover:after {
            transition: 500ms;
            width: 100%;
            text-decoration: none;
        }

        .tarolo a:hover {
            font-size: 18px;
            color: #ebd7b4;
            transition: 500ms;
        }
/*Footer*/
.footer {
    background-color: black;
    color: white;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.keszitok {
    font-size: 11px;
}

.nevek {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.logok {
    align-items: center;
}

    .logok img {
        width: 4vh;
    }

    .logok a {
        height: 40px;
        width: 40px;
    }

.facebook {
    color: #3b5998;
    font-size: 4vh;
}

.instangram {
    background-image: linear-gradient( 200deg, rgb(81, 91, 212), rgb(129, 52, 175), rgb(221, 42, 123), rgb(254, 218, 119), rgb(245, 133, 41) );
    font-size: 4vh;
    border-radius: 13px;
    color: white;
}

@media screen and (max-width: 770px) {

    .footer {
        display: flex;
        height: 40vh;
        flex-direction: column;
        align-items: center;
        transition: 1200ms;
    }

    .keszitok {
        padding: 0px;
    }

    .nevek {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .logok {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.nav-active {
    transform: translateX(0%);
    background-color: black; /*A nav b�r sz�nvel egyezzen emg*/
}

@keyframes containerFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: 500ms;
}

.toggle .line2 {
    opacity: 0;
    transition: 500ms;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: 500ms;
}
