* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.MSZ_main{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-areas: "na"
                        "hea"
                        "art"
                        "fo";
    
}

html{
  width: 100%;
  background: linear-gradient(to right, #f4e8c2, #2c364f);
  min-width: fit-content;
}

/*
::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #2c364f; 
}

::-webkit-scrollbar-thumb:hover {
  background: #15b374; 
}*/

/*-----------------------header-----------------------*/
.MSZ_header{
    grid-area: hea;
    width: auto;
    padding-top: 60px;
    padding-bottom: 40px;
    background: linear-gradient(to right, #a7a18b, #2c364f);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1), 0 40px 40px rgba(0, 0, 0, 0.1), 0 80px 80px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.MSZ_slide_keret{
  width: 300px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

#MSZ_headTarolo{
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#MSZ_slide-container{
  width: 300px;
  height: 450px;
  margin: auto;
}
#MSZ_slide-container2{
  height: 450px;
  width: 300px;
  margin: auto;
}
.MSZ_menu{
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}
.MSZ_menu button{
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #2c364f;
  border: none;
  width: 100%;
}
.MSZ_slide_keret img{
  width: 100%;
  vertical-align: middle;
}

.MSZ_slide_keret2 img{
  width: 100%;
  vertical-align: middle;
}


/*-------------------ARTICLE-------------------*/
.MSZ_article{
  padding-top: 60px;
  margin: auto;
  width: 100%;
}
/*-------------------SZÖVEG-------------------*/
#szoveg{
  margin: auto;
  background-color: #2c364f;
  padding: 40px;
  font-size: 110%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.1), 0 40px 40px rgba(0, 0, 0, 0.1), 0 80px 80px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
.cim h2{
  text-align: center;
  color: white;
  padding-bottom: 3%;
  font-size: 200%;
}
.sz{
  margin: auto;
  width: 70%;
}
.sz2{
  margin: auto;
  width: 70%;
  padding-top: 20px;
}
.sz p{
  text-align: justify;
  color: white;
}
.sz h3{
  text-align: center;
  color: white;
  font-size: 200%;
}
.sz2 p{
  text-align: justify;
  color: white;
}
.felsorol{
  text-align: center;
  color: white;
  margin: auto;
  width: 70%;
}
.felsorol ul{
  padding-left: 25%;
  text-align: justify;
  padding-top: 20px;
}
.felsorol li{
  list-style: circle;
  text-align: left
}
.tanar{
  padding-top: 30px;
  text-align: center;
  color: white;
}

/*-----------KÁRTYÁK------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

#MSZ_galeria {
  display: grid;
  grid-gap: 4rem;
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

.MSZ_kartya {
  margin: auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  height: 500px;
  text-align: center;
  color: whitesmoke;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.MSZ_kartya:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;

  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.MSZ_kartya:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.MSZ_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.MSZ_content > * + * {
  margin-top: 1rem;
}

.MSZ_title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.MSZ_copy{
  font-family: var(--font-serif);
  font-size: 1.5rem;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.35;
}
.MSZ_copy dt{
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.MSZ_btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #2c364f;
  border: none;
}
.MSZ_btn :hover {
  background-color: #0d0d0d;
}
.MSZ_btn :focus {
  outline: 1px dashed white;
  outline-offset: 3px;
}

  .MSZ_content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .MSZ_content > *:not(.MSZ_title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .MSZ_kartya:hover,
.MSZ_kartya:focus-within {
    align-items: center;
  }
  .MSZ_kartya:hover:before,
.MSZ_kartya:focus-within:before {
    transform: translateY(-4%);
  }
  .MSZ_kartya:hover:after,
.MSZ_kartya:focus-within:after {
    transform: translateY(-50%);
  }
  .MSZ_kartya:hover .MSZ_content,
.MSZ_kartya:focus-within .MSZ_content {
    transform: translateY(0);
  }
  .MSZ_kartya:hover .MSZ_content > *:not(.MSZ_title),
.MSZ_kartya:focus-within .MSZ_content > *:not(.MSZ_title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .MSZ_kartya:focus-within:before, .MSZ_kartya:focus-within:after,
.MSZ_kartya:focus-within .MSZ_content,
.MSZ_kartya:focus-within .MSZ_content > *:not(.MSZ_title) {
    transition-duration: 0s;
  }


/*-----------------------footer-----------------------*/
footer{
  grid-area: fo;
}
@media (min-width: 400px) {
  #MSZ_galeria {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 600px) {
  #MSZ_galeria {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  #MSZ_galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .MSZ_kartya{
    width: 294px;
  }
  #MSZ_headTarolo{
    grid-template-columns: 1fr;
  }
  .MSZ_menu{
    grid-template-columns: auto;
    width: 50%;
    padding: 5%;
    grid-gap:20px;
  }
}
@media (min-width: 1000px) {
  #MSZ_galeria {
    grid-template-columns: repeat(4, 1fr);
  }   
}
@media (hover: hover) and (max-width: 2000px) {
  .MSZ_kartya:after {
    transform: translateY(0);
  }
}